Source: libcariad-driver-picadillo
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-picadillo
Replaces: libdisplaycore-driver-picadillo
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: TFT
Depends: libcariad-core, libcariad-driver-analogtouch
Provides: Picadillo.h
Description: Picadillo-35T
 The Cariad driver for the Picadillo-35T board



